@import '../../../index.scss';

.mainBtn {
   min-width: 100px;
   height: 34px;
   border-radius: 80px;
   background-color: $primaryBg;
   border: none;
   font-size: 16px;
}

.mainBtn:hover {
   background-color: $hoverBg;
}

.disabledBtn {
   min-width: 100px;
   height: 34px;
   border-radius: 80px;
   background-color: $grayBg;
   color: $secondaryFont;
   border: none;
   font-size: 16px;
}